body
{
  background-size: cover;
}

.heading
{
    width: 100%;
    text-align: left;
}

.heading h3
{
    display: inline;
}

.heading button
{
    float: right;
    border: 2px solid white;
}

#start, .status
{
    font-size: 22px;
}

h4
{
    text-align: center;
}

.copy_right_footer
{
    position: fixed;
    bottom: 0;
    text-align: center;
    color: darkgrey;
    background-color: white;
    width: 100%;
    line-height: 3;
}

canvas
{
  border: 5px, solid whitesmoke;
  border-radius: 5px;
  margin-top: 130px;
  box-shadow: 5px 5px 5px white;
}